body {
  margin: 0;
  padding: 0;
}
.bigscreen-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px;
}
.btn{
  background: #000;
  border: none;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 90px;
}
.links{
  display: flex;
}
li{
  list-style: none;
  padding: 10px;
}
.link-btn {
  background: transparent;
  border: none;
  font-size: 20px;
  color: black;
  letter-spacing: 1px;
  width: 10rem;
}
h2{
  font-size: 21px;
  font-weight: bold;
}
.mobile-screen{
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 20;
}
.close-nav{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 20;
}
.mobile-links{
  position: fixed;
  top: 40px;
  left: 30px;
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 95vh;
  width: 90vw;
  padding: 40px 20px;
  z-index: 10;
  margin: auto;
  transform: scale(1);
  transition:  all 1s ease-in-out;
}
.close-mobile {
  position: absolute;
  top: -100%;
  left: -100%;
  transform: scale(0);
}
.sidebar-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  font-size: 19px;
  margin: auto;
}
.sidebar-links a {
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .nolink{
    display: none;
  }
}  
@media screen and (min-width: 900px) {
  .mobile-screen,
  .close-nav,
  .mobile-links,
  .close-mobile{
    display: none;
  }
}
/* SUBMENU */
.submenu {
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: 20px;
  transition: all 0.5s ease-in;
}
.submenu::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.25rem 2rem;
}
.col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.submenu h4 {
  margin-bottom: 1.5rem;
}

.submenu-center a {
  width: 10rem;
  display: block;
  color: #000;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* CARDONIC DROPDOWN NAVBAR */
.cardonic-container{
  margin-top: 150px;
}
.bigscreen-cardonic {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}
.nav {
  position: relative;
  text-decoration: none;
  font-size: 16px;
  color: #002444;
  padding: 20px;
}
.started {
  background-color: #ffeaca;
  border-radius: 20px;
}
.icon{
  position: absolute;
  top: 23px;
  right: 0;
}
.color{
  color: #fff;
}
.mobile-cardonic {
  position: fixed;
  top: 200px;
  right: 10px;
  z-index: 20;
  background: #cffcff;
  border-radius: 50%;
}

.close-cardonic {
  position: absolute;
  top: 200px;
  right: 10px;
  background: #cffcff;
  border-radius: 50%;
  z-index: 20;
}

.cardonic-nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background: #002444;
  height: 100vh;
  width: 100%;
  z-index: 10;
}

.close-mobile-cardonic {
  position: absolute;
  top: -100%;
  left: -100%;
}
.cardonic-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
  height: 100vh;
}
.cardonic-link{
  text-decoration: none;
  font-size: 19px;
  color: #fff;
}
.position{
  padding: 30px 10px;
}
.sublink-container{
  position: relative;
}
.sublink{
  position: absolute;
  top: 50px;
  left: 0;
  height: 150px;
  color: #002444;
  background-color: #fff;
  width: 150px;
  border-radius: 20px;
  background: #fff;
  padding: 0 20px;
  box-shadow: 13px 13px 26px #d6d6d6,
            -13px -13px 26px #ffffff;
}
.sublinks {
  margin-left: 20px;
  font-size: 14px;
  color: #fff;
}
.no-sublink {
  position: absolute;
  display: none;
  top: -100%;
  left: -100%;
}
.dropdown-container{
  display: flex;
  flex-direction: column;
}
.dropdown{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.drop-text{
  font-size: 13px;
  flex-shrink: 0;
  align-items: flex-start;
}
@media screen and (min-width: 800px) {
  .mobile-cardonic,
  .close-cardonic,
  .cardonic-nav,
  .close-mobile-cardonic {
    display: none;
  }
}
@media screen and (max-width: 1000px) {

  .bigscreen-cardonic {
    margin: 40px;
  }
}
@media screen and (max-width: 800px) {
  .links {
    display: none;
  }
  .bigscreen-cardonic {
    margin: 20px;
  }
}
